<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IService">
          <security mode="Message">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://brmigp01.w2k.feico.com:81/Service/Service.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService"
          contract="MasterDataServices.IService" name="WSHttpBinding_IService">
        <identity>
          <userPrincipalName value="BI_SVCIC@w2k.feico.com" />
        </identity>
      </endpoint>
      <endpoint address="http://brmigp01.w2k.feico.com:81/Service/Service.svc/bhb"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
          contract="MasterDataServices.IService" name="BasicHttpBinding_IService" />
    </client>
  </system.serviceModel>
</configuration>