<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
            </basicHttpBinding>
            <wsHttpBinding>
              <binding name="WSHttpBinding_IService">
                <security mode="Message">
                  <transport clientCredentialType="Windows" />
                </security>
              </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://pcdropman:8080/Service/Service.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService"
                contract="MasterDataServices.IService" name="WSHttpBinding_IService">
                <identity>
                    <userPrincipalName value="Vladimír@pcdropman" />
                </identity>
            </endpoint>
            <endpoint address="http://pcdropman:8080/Service/Service.svc/bhb"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
                contract="MasterDataServices.IService" name="BasicHttpBinding_IService" />
        </client>
    </system.serviceModel>
</configuration>